.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 250px;
  height: 250px;
  overflow: hidden;
  background-color: #0c4a6e;
  border-radius: 10px;
  border: 5px solid #0c4a6e;
  transition: all 0.2s ease-in-out;
}

.card:hover {
  scale: 1.15;
}

.card:active {
  scale: 1.2;
}

.card img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e5e7eb;
  height: 50px;
}

@keyframes opacityLoad {
  0% {opacity: 1;}

  100% {opacity: 2;}
}